.confirmation-mail {
  width: 200px;
  height: 36px;
  outline: none;
  border-color: hotpink;
  padding-left: 10px
}

.confirmation-button {
  background-color: hotpink;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none
}