.general-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.products-container {
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center
}

.products {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-section {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}


.cart-shop-button {
  background-color: hotpink;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none
}

.filter-buttons {
  margin-left: 15px
}

@media screen and (max-width:650px) {


  .products-container {
    width: 100%;
    align-items: center
  }

  .sort-buttons {
    margin-left: 15px
  }

  .filter-buttons {
    margin-left: 30px
  }

  .filter-section {
    margin-top: 5px;

  }
}