.tree-child-content-enter {
  opacity: 0;
}

.tree-child-content-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.tree-child-content-exit {
  opacity: 1;
}

.tree-child-content-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}