.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid hotpink;
  height: auto;
  justify-content: space-between;
  border-radius: 10px;
  padding-left: 5px;
  padding-bottom: 20px;
  margin-bottom: 10px
}

.delete-icon {
  display: flex;
  align-self: flex-end
}

.card-input {
  width: 60px;
  height: 15px;
  margin-right: 5px
}

.card-name {
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;

}

.card-price {
  font-weight: 400;
  text-align: center;


}

.card-total-price {
  font-weight: 400;
  text-align: center;

}