.nav-bar {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
  padding-top: 20px;
  padding-bottom: 20px
}

.nav-bar-logo {
  font-size: 25px;
  color: hotpink;

}


@media screen and (max-width:650px) {
  .nav-bar {
    padding: 0px;
    height: 60px;
  }
}