.product-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 150px;
  border-radius: 10px;
  border: 1px solid hotpink;
  cursor: pointer;
  align-items: center;
  border-top-right-radius: 0px
    /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */

}

.cart-container {
  display: flex;
  align-self: flex-end
}

.no-cart {
  display: none
}



.no-available {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 150px;
  border-radius: 10px;
  border: 1px solid #e4e2e2;
  align-items: center;
}



.product-content {
  display: flex;
  flex-direction: column;
  border-top: 1px solid hotpink;
  width: 90%;
  margin-left: 5px;
  margin-right: 5px;
  justify-self: center
}

.content-no-available {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e4e2e2;
  width: 90%;
  margin-left: 5px;
  margin-right: 5px;
}

.product-container:hover {
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);

}

.product-quantity {
  text-align: center;
  margin: 5px;
  margin-top: 0px
}



.product-image {
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  justify-self: center
}



.product-price {
  text-align: center;
  margin: 5px;
  margin-top: 0px
}

.product-name {
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;



}

.add-cart-button {
  background-color: hotpink;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: none;
  border-top-right-radius: 0px;
  cursor: pointer;
  outline: none
    /* box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b; */

}

@media screen and (max-width:650px) {
  .product-container {
    width: 125px
  }

  .no-available {
    width: 125px
  }
}