.cart-button {
  display: block;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: hotpink;
  border-radius: 50%;
  box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 10
}

.cart-button:hover {
  box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
  transform: scale(1.03);
  transition: all .5s
}