.dropbtn {
  background-color: hotpink;
  color: white;
  /* padding: 10px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  width: 120px;
  height: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: hotpink;
}

.dropbtn-small-device {
  display: none
}

@media screen and (max-width:650px) {
  .dropbtn {
    display: none
  }

  .dropbtn-small-device {
    height: 30px;
    width: 30px;
    margin: 5px;
    background-color: hotpink;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    display: block;
    margin-right: 15px
  }
}