.menu-content-tree {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column
}

.menu-container {
  height: auto;
  border-right: 1px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  width: 150px;
  min-height: 100vh;
}

.menu-button {
  display: none
}

.menu-content-small-device {
  display: none
}



@media screen and (max-width:650px) {

  .menu-container {
    width: 0px;
    border-right: none;
    align-items: center;
    height: fit-content;
    min-height: 0vh;
  }

  .menu-content-tree {
    display: none
  }

  .menu-content-small-device {
    display: flex;
    position: absolute;
    top: 17px;
    left: 20px;
    outline: none;
  }

  .menu-button {
    width: 35px;
    height: 35px;
    /* padding: 20px; */
    border: none;
    /* padding-right: 10px; */
    background-color: hotpink;
    display: block;
    /* margin-top: 15px; */
    cursor: pointer;
    /* box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b; */

  }
}